<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Coolness</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1>Coolness Score</h1>
    <h3>Score: <%- score %></h3>
    <br />
    <a href="/">Back to Search</a>
  </body>
</html>
